::-webkit-scrollbar {
    width: .4rem;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: black;
    margin: .4rem 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #444;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}